*{
    margin: 0;
    padding: 0;
}
body{
    background: lightgray;
    text-align: center;
}
#cardsContainer{
    margin:5% 0%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.dogsCards{
    background: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    border: 2px solid black;
    width: 20%;
    height: 250px;
}
.dogsCards img{
    width: 100px;
    height: 100px;
}
h1{
    font-size: 40px;
}
h3{
    font-size: 25px;
}
p{
    font-size: 20px;
}
@media screen and (min-height:767px) and (max-width:414px) {
    #cardsContainer{
        flex-direction: column;
        align-items: center;
    }
    #cardsContainer .dogsCards{
        width: 85%;
    }
}